body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 5px solid skyblue;
}